%footer.footer
  .container
    .powered-by-diaspora.pull-left
      = link_to t("layouts.application.powered_by"), "https://diasporafoundation.org"
    %ul#footer_nav.pull-right
      = render partial: "shared/links"
    #imprint
      Diese Seite gehört zum Angebot von
      %a{href: "https://wingolfsplattform.org"} wingolfsplattform.org.
      %a{href: "https://wingolfsplattform.org/impressum"} Impressum.
      %a{href: "https://wingolfsplattform.org/datenschutz"} Datenschutz.
      Darüberhinaus ist diese Seite Teil des
      %a{href: "https://the-federation.info"} Federation-Networks.